<nz-select [nzMode]="multiple ? 'multiple' : 'default'" nzPlaceHolder="选择客户" nzAllowClear nzShowSearch nzServerSearch
  [(ngModel)]="multiple?selectedCustomers: selectedCustomer" (nzOnSearch)="onSearch($event)"
  (ngModelChange)="onModelChange($event)">
  <ng-container *ngFor="let option of optionList">
    <nz-option *ngIf="!isLoading" [nzValue]="option" [nzLabel]="option | customerOptionLabel">
    </nz-option>
  </ng-container>
  <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
    <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
  </nz-option>
</nz-select>