<nz-page-header class="header">
    <nz-page-header-title>数据展示</nz-page-header-title>
    <nz-page-header-extra>
      <!-- <nz-upload
        nzAction="/api/Files?bucket=icnc-erp-autoliv-spec" nzAccept="application/pdf"
        [nzShowButton]="true" (nzChange)="onUploadProgram($event)" [nzPreview]="handlePreview"
      >
        <button nz-button>
          <span nz-icon nzType="upload"></span>
          上传程序
        </button>
      </nz-upload> -->
    </nz-page-header-extra>
</nz-page-header>

<app-line-chart></app-line-chart>